.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
}

.todobox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #171717;
  width: 40%;
  padding: 1rem;
}

.heading {
  font-weight: bolder;
  font-size: 1.5em;
}

.todoinput-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 75%;
}

.todoinput {
  width: 70%;
  border: none;
  background-color: #404040;
  color: white;
  outline: none;
  padding: 0.75rem;
  margin-right: 10px;
  border-radius: 5px;
}

label {
  margin-bottom: 10px;
  font-size: larger;
}

.input-and-submit-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.submit {
  background-color: #00e1d3;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.submit:disabled {
  background-color: gray;
}

#todo-list {
  margin: 2rem 0;
  width: 75%;
}

#todo-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #404040;
  padding: 0.5rem;
  border-radius: 5px;
  margin: 1rem 0;
}

#buttons-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#buttons-container button:nth-child(1) {
  background-color: #00e1d3;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}
#buttons-container button:nth-child(2) {
  background-color: red;
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 1280px) {
  .todobox {
    width: 100%;
  }
}
